Prueba1/node_modules
Calibración Camara
Extraer Dulces
comparación funcional.jpg
Contextualización.docx
datos.txt
PRACTICA_01.docx
referencia_2.jpeg
referencia.png
Titulo sobre imagen
Smart Camera.docx
Primer Parcial/
Smart Camera/
colores_detectados.json
orden_colores.json
prueba_color_v2.py
Segundo parcial/